<div class="login-panel row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <p>{{message}}</p>
                <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="form-group">
                        <input placeholder="Username" type="text" class="form-control" [(ngModel)]="username"
                               name="username"
                               required>
                    </div>
                    <div class="form-group">
                        <input placeholder="Password" type="password" class="form-control"  [(ngModel)]="password"
                               name="password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"
                                 *ngIf="!authService.isLoggedIn()">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

