<main>
    <jj-nav *ngIf="authSvc.isLoggedIn()"></jj-nav>
    <jj-menu *ngIf="authSvc.isLoggedIn()"></jj-menu>
    <div class="container-fluid" [ngClass]="{'main-outlet': authSvc.isLoggedIn()}">
        <router-outlet></router-outlet>
    </div>
</main>
